@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");

/* Global Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Setting 'Epilogue' as font-family */
body {
  font-family: "Epilogue", sans-serif;
}

/* Setting all lists not to have bullets */
li {
  list-style-type: none;
}

/* Top Nav */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 3em;
  color: #696969;
  font-size: 0.9em;
}
.top-nav-logo-menu {
  display: flex;
  width: 40%;
}
.logo {
  margin-right: 4em;
  align-self: center;
  padding-top: 0.4em;
}
.nav-menu,
.nav-register {
  display: flex;
  align-items: center;
}
.nav-menu:nth-child(n),
.nav-register:nth-child(n) {
  gap: 3.125em;
  letter-spacing: -0.01em;
  padding: 0.2em;
}

/* Anchor tag inside links -> link, hover, active, visited states */
li a:link,
li a:visited {
  display: block;
  text-decoration: none;
  color: inherit;
}
li a:hover,
li a:active {
  color: #000000;
}

/* Dropdown arrow styling */
.nav-menu-dropdown::after {
  content: url("images/icon-arrow-down.svg");
  margin-left: 0.4em;
  margin-bottom: 0.2em;
}
.nav-menu-dropdown:hover::after {
  filter: brightness(0%);
  content: url("images/icon-arrow-up.svg");
}

/* Dropdown contents layout and positioning */
.nav-menu-container {
  position: relative;
}
.nav-menu-dropdown-content {
  position: absolute;
  right: 5%;
  background-color: #ffffff;
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  border-radius: 1em;
  padding: 1.5em 1.2em;
  display: none;
  min-width: max-content;
}
.nav-menu-dropdown-content:nth-of-type(2) {
  left: 45%;
}
.nav-menu-dropdown-content li {
  margin-bottom: 1.2em;
}
.nav-menu-dropdown-content li:last-child {
  margin-bottom: 0;
}
.featues-dropdown-content-items:before {
  content: "";
  margin-right: 0.8em;
}
/* Feature dropdown icons */
.todo:before {
  content: url("images/icon-todo.svg");
}
.calendar:before {
  content: url("images/icon-calendar.svg");
}
.reminder:before {
  content: url("images/icon-reminders.svg");
}
.planning:before {
  content: url("images/icon-planning.svg");
}
.nav-menu > div:hover .nav-menu-dropdown-content,
.nav-menu > div:active .nav-menu-dropdown-content {
  display: block;
}

/* Register and Log in buttons active state */
.active {
  border: 1px solid #000000;
  color: #000000;
  padding: 0.8em 1.8em;
  border-radius: 1em;
}

/* Top Banner layout */
.top-banner {
  display: flex;
  align-items: center;
  padding: 2em 10em;
}
.top-banner-content {
  margin-right: 6em;
}
.top-banner-image {
  margin-left: 6em;
}
.top-banner-image img {
  max-width: 100%;
}

/* Top banner content layout */
.top-banner-content {
  display: flex;
  flex-direction: column;
}

/* Top banner heading */
.top-banner-heading {
  font-size: 4.25em;
}
